<div class="grid grid-cols-4 gap-0">
  <div class="mt-4 ml-4 mr-4 bg-indigo-100 p-5 border border-indigo-600 rounded-md">
    <h5 class="uppercase font-semibold">Pie Chart</h5>
    <p-chart type="pie" [data]="pieData" [options]="pieChartOptions"  [style]="{'width': '40%'}"></p-chart>
  </div>
  <div class="mt-4 ml-4 mr-4 bg-indigo-100 p-5 border border-indigo-600 rounded-md">
    <h5>Pie Chart</h5>
    <p-chart type="pie" [data]="pieData" [options]="pieChartOptions"  [style]="{'width': '40%'}"></p-chart>
  </div>
  <div class="mt-4 ml-4 mr-4 bg-indigo-100 p-5 border border-indigo-600 rounded-md">
    <h5 class="uppercase font-semibold">Pie Chart</h5>
    <p-chart type="pie" [data]="pieData" [options]="pieChartOptions"  [style]="{'width': '40%'}"></p-chart>
  </div>
  <div class="mt-4 ml-4 mr-4 bg-indigo-100 p-5 border border-indigo-600 rounded-md">
    <h5 class="uppercase font-semibold">Pie Chart</h5>
    <p-chart type="pie" [data]="pieData" [options]="pieChartOptions"  [style]="{'width': '40%'}"></p-chart>
  </div>
  <div class="col-span-2 mt-4 ml-4 mr-4 bg-indigo-100 p-5 border border-indigo-600 rounded-md">
    <h5 class="uppercase font-semibold">Bar Chart</h5>
    <p-chart type="bar" [data]="barData" [options]="barChartOptions"></p-chart>
  </div>
  <div class="col-span-2 mt-4 ml-4 mr-4 bg-indigo-100 p-5 border border-indigo-600 rounded-md">
    <h5 class="uppercase font-semibold">Combo Chart</h5>
    <p-chart type="bar" [data]="comboData" [options]="comboChartOptions"></p-chart>
  </div>
</div>

