<div class="h-full-page">
  <div class="flex flex-col h-full">
    <div class="flex-initial z-20">
      <div class="shadow">
        <p-menubar [model]="menuItems" styleClass="secondary-menu no-radius p-menbar-sm uppercase" appendTo="body">
          <ng-template pTemplate="start">
            <input 
              type="text" 
              pInputText 
              class="p-inputtext-xs" 
              placeholder="Search"
              (change)="onSearch($event)"
            />
          </ng-template>
          <ng-template pTemplate="end">
            <div>Card Transaction Report</div>
          </ng-template>
        </p-menubar>
      </div>
      <div class="shadow hidden lg:grid grid-cols-4 gap-4 p-4 normal-text">
        <div class="flex flex-col text-sm rp-box">
          <div class="rp-box-watermark">
            when
          </div>
          <div class="grid lg:grid-cols-2 xl:grid-cols-3 gap-2">
            <div class="col-span-2 xl:col-span-1 uppercase font-semibold">Date:</div>
            <div class="col-span-2">
              <p-skeleton styleClass="secondary-skeleton" height="20px" [ngClass]="{'hidden': infoLoading === false }"></p-skeleton>
              <span [ngClass]="{'hidden': infoLoading == true }">{{reportParams.dateRangeFilter[0] | date:'MM/dd/yyyy'}} - {{reportParams.dateRangeFilter[1] | date:'MM/dd/yyyy'}}</span>
            </div>
          </div>
        </div>
        <div class="flex flex-col text-sm rp-box">
          <div class="rp-box-watermark">
            where
          </div>
          <div class="grid lg:grid-cols-2 xl:grid-cols-3 gap-2">
            <div class="col-span-2 xl:col-span-1 uppercase font-semibold">Company:</div>
            <div class="col-span-2">
              <p-skeleton styleClass="secondary-skeleton" height="20px" [ngClass]="{'hidden': infoLoading === false }"></p-skeleton>
              <span [ngClass]="{'hidden': infoLoading == true }">{{reportParams.company?.label || 'All'}}</span>
            </div>
            <div class="col-span-2 xl:col-span-1 uppercase font-semibold">Tenant:</div>
            <div class="col-span-2">
              <p-skeleton styleClass="secondary-skeleton" height="20px" [ngClass]="{'hidden': infoLoading === false }"></p-skeleton>
              <span [ngClass]="{'hidden': infoLoading == true }">{{reportParams.tenant?.label || 'All'}}</span>
            </div>
          </div>
        </div>
        <div class="flex flex-col text-sm rp-box">
          <div class="rp-box-watermark">
            what
          </div>
          <div class="grid lg:grid-cols-2 xl:grid-cols-3 gap-2">
            <div class="col-span-2 xl:col-span-1 uppercase font-semibold">Card:</div>
            <div class="col-span-2">
              <p-skeleton styleClass="secondary-skeleton" height="20px" [ngClass]="{'hidden': infoLoading === false }"></p-skeleton>
              <span [ngClass]="{'hidden': infoLoading == true }">{{reportParams.card ? reportParams.card.label + ' (' + reportParams.card.text + ')' : 'All'}}</span>
            </div>
          </div>
        </div>
        <div class="flex flex-col text-sm rp-box">
          <div class="rp-box-watermark">
            who
          </div>
        </div>
      </div>
    </div>
    <div id="table-wrapper" class="flex-auto overflow-y-auto">
      <p-table 
        #tblReport
        id="tblReport"
        [value]="loading ? cardsSkeleton : cards" 
        dataKey="card_cd"
        styleClass="p-datatable-sm datatable-style"
        (onRowExpand)="onRowExpand($event)"
        [globalFilterFields]="['card_number','card_name']"
      >
        <ng-template pTemplate="header">
          <tr [ngStyle]="{'height': rowHeight }">
            <th style="width: 4rem" rowspan="2"></th>
            <th style="width: 35rem" rowspan="2" class="uppercase">
              Date
            </th>
            <th style="width: 20rem" rowspan="2" class="uppercase">
              Company
            </th>
            <th style="width: 20rem" rowspan="2" class="uppercase">
              Tenant
            </th>
            <th style="width: 40rem" colspan="2" class="uppercase text-center">
              Debit
            </th>
            <th style="width: 40rem" colspan="2" class="uppercase text-center">
              Credit
            </th>
          </tr>
          <tr [ngStyle]="{'height': rowHeight }">
            <th style="width: 20rem" class="uppercase text-right">
              Balance
            </th>
            <th style="width: 20rem" class="uppercase text-right">
              Point
            </th>
            <th style="width: 20rem" class="uppercase text-right">
              Balance
            </th>
            <th style="width: 20rem" class="uppercase text-right">
              Point
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-card let-expanded="expanded">
          <tr [ngStyle]="{'height': rowHeight }">
            <td style="width: 4rem" class="text-center">
              <p-skeleton styleClass="secondary-skeleton" [ngClass]="{'hidden': loading === false }" shape="circle" size="1.75rem"></p-skeleton>
              <button type="button" pButton pRipple [pRowToggler]="card"
                class="p-button-text p-button-rounded p-button-plain button-quare-xs"
                [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
                [ngClass]="{'hidden': loading == true }"
              ></button>
            </td>
            <td [attr.colspan]="7">
              <p-skeleton styleClass="secondary-skeleton" [ngClass]="{'hidden': loading === false }"></p-skeleton>
              <span [ngClass]="{'hidden': loading == true }">{{card.card_number}} ({{card.card_name}})</span>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="rowexpansion" let-card>
          <tr>
            <td colspan="8" class="p-0">
              <div class="p-p-3">
                <p-table 
                  [value]="(transactionLoading && expandCard == card.card_cd) ? transactionSkeleton : card.transactions" 
                  dataKey="id"
                  styleClass="p-datatable-sm"
                >
                  <ng-template pTemplate="body" let-transaction>
                    <tr [ngStyle]="{'height': rowHeight }">
                      <td style="width: 5rem"></td>
                      <td style="width: 33rem">
                        <p-skeleton styleClass="secondary-skeleton" [ngClass]="{'hidden': transactionLoading === false || expandCard !== card.card_cd }"></p-skeleton>
                        <span [ngClass]="{'hidden': transactionLoading == true && expandCard == card.card_cd }">{{transaction.transactionDate}}</span>
                      </td>
                      <td style="width: 20rem">
                        <p-skeleton styleClass="secondary-skeleton" [ngClass]="{'hidden': transactionLoading === false || expandCard !== card.card_cd }"></p-skeleton>
                        <span [ngClass]="{'hidden': transactionLoading == true && expandCard == card.card_cd }">{{transaction.company}}</span>
                      </td>
                      <td style="width: 20rem">
                        <p-skeleton styleClass="secondary-skeleton" [ngClass]="{'hidden': transactionLoading === false || expandCard !== card.card_cd }"></p-skeleton>
                        <span [ngClass]="{'hidden': transactionLoading == true && expandCard == card.card_cd }">{{transaction.tenant}}</span>
                      </td>
                      <td style="width: 20rem" class="text-right">
                        <p-skeleton styleClass="secondary-skeleton" [ngClass]="{'hidden': transactionLoading === false || expandCard !== card.card_cd }"></p-skeleton>
                        <span [ngClass]="{'hidden': transactionLoading == true && expandCard == card.card_cd }">{{transaction.debit.balance | currency:'USD'}}</span>
                      </td>
                      <td style="width: 20rem" class="text-right">
                        <p-skeleton styleClass="secondary-skeleton" [ngClass]="{'hidden': transactionLoading === false || expandCard !== card.card_cd }"></p-skeleton>
                        <span [ngClass]="{'hidden': transactionLoading == true && expandCard == card.card_cd }">{{transaction.debit.point | currency:'USD'}}</span>
                      </td>
                      <td style="width: 20rem" class="text-right">
                        <p-skeleton styleClass="secondary-skeleton" [ngClass]="{'hidden': transactionLoading === false || expandCard !== card.card_cd }"></p-skeleton>
                        <span [ngClass]="{'hidden': transactionLoading == true && expandCard == card.card_cd }">{{transaction.credit.balance | currency:'USD'}}</span>
                      </td>
                      <td style="width: 20rem" class="text-right">
                        <p-skeleton styleClass="secondary-skeleton" [ngClass]="{'hidden': transactionLoading === false || expandCard !== card.card_cd }"></p-skeleton>
                        <span [ngClass]="{'hidden': transactionLoading == true && expandCard == card.card_cd }">{{transaction.credit.point | currency:'USD'}}</span>
                      </td>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="emptymessage">
                    <tr>
                      <td colspan="8" class="text-center">There are no transactions.</td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="8" class="text-center">There are no transactions.</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <div class="flex-initial">
      <p-paginator 
        [rows]="paginationData.rows" 
        [totalRecords]="paginationData.totalRecords" 
        [rowsPerPageOptions]="[25,50,100]"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        (onPageChange)="onPageChange($event)"
        styleClass="p-paginator-sm"
      ></p-paginator>
    </div>
  </div>
</div>