.theme-light {
  --primary-background: rgb(67 56 202);
  --secondary-background: rgb(224 231 255);
  --primary-text: rgb(67 56 202);
  --secondary-text: rgb(224 231 255);
  --background-color: rgb(238 242 255);
  --text-color: rgb(31 41 55);
}
